/********** ABSTRACTS **********/
/* FONT-FACE */
/* COLUMNAS */
/* ORDERS */
/* OFFSETS */
/* COLUMNAS*/
/* COLORES */
/* end Colores */
/********** BASE **********/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Dosis", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #454545;
}

hr {
  display: block;
  background: #000;
  height: 0.0625em;
  margin: 1.875em 0 1.25em 0;
}

/* Mobile */
@media screen and (max-width: 650px) {
  hr {
    width: 100%;
  }
}

#wrap {
  position: relative;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.primary {
  color: #337ab7;
}

/********** LAYOUTS **********/
.w-100 {
  width: calc(100% + 20px) !important;
  margin-left: -0.625em;
}

@media (min-width: 22em) {
  .w-100 {
    width: calc(100% + 40px) !important;
    margin-left: -1.25em;
  }
}

@media (min-width: 48em) {
  .w-100 {
    width: calc(100% + 60px) !important;
    margin-left: -1.875em;
  }
}

@media (min-width: 64em) {
  .w-100 {
    width: 100% !important;
    margin-left: 0;
  }
}

.w-100-mobile {
  width: calc(100% + 20px) !important;
  margin-left: -0.625em;
}

@media screen and (max-width: 47em) {
  .w-100-mobile {
    border: none !important;
  }
}

@media (min-width: 22em) {
  .w-100-mobile {
    width: calc(100% + 40px) !important;
    margin-left: -1.25em;
  }
}

@media (min-width: 48em) {
  .w-100-mobile {
    width: 100% !important;
    margin-left: 0;
  }
}

@media (min-width: 64em) {
  .w-100-mobile {
    width: 100% !important;
    margin-left: 0;
  }
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4, .col-mobile-5, .col-mobile-6, .col-mobile-7, .col-mobile-8, .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12, .col-mobile,
.col-mobile-auto, .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12, .col-tablet,
.col-tablet-auto, .col-desksm-1, .col-desksm-2, .col-desksm-3, .col-desksm-4, .col-desksm-5, .col-desksm-6, .col-desksm-7, .col-desksm-8, .col-desksm-9, .col-desksm-10, .col-desksm-11, .col-desksm-12, .col-desksm,
.col-desksm-auto, .col-deskxl-1, .col-deskxl-2, .col-deskxl-3, .col-deskxl-4, .col-deskxl-5, .col-deskxl-6, .col-deskxl-7, .col-deskxl-8, .col-deskxl-9, .col-deskxl-10, .col-deskxl-11, .col-deskxl-12, .col-deskxl,
.col-deskxl-auto {
  position: relative;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.order-last {
  -ms-flex-order: 13;
  -webkit-box-ordinal-group: 14;
          order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  -webkit-box-ordinal-group: 5;
          order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  -webkit-box-ordinal-group: 6;
          order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  -webkit-box-ordinal-group: 7;
          order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  -webkit-box-ordinal-group: 8;
          order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  -webkit-box-ordinal-group: 9;
          order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  -webkit-box-ordinal-group: 10;
          order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  -webkit-box-ordinal-group: 11;
          order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  -webkit-box-ordinal-group: 12;
          order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  -webkit-box-ordinal-group: 13;
          order: 12;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 768px) {
  .col-tablet {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-tablet-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-tablet-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-tablet-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-tablet-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-tablet-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-tablet-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-tablet-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-tablet-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-tablet-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-tablet-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-tablet-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-tablet-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-tablet-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-tablet-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-tablet-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-tablet-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-tablet-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-tablet-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-tablet-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-tablet-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-tablet-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-tablet-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-tablet-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-tablet-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-tablet-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-tablet-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-tablet-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-tablet-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-tablet-0 {
    margin-left: 0%;
  }
  .offset-tablet-1 {
    margin-left: 8.33333%;
  }
  .offset-tablet-2 {
    margin-left: 16.66667%;
  }
  .offset-tablet-3 {
    margin-left: 25%;
  }
  .offset-tablet-4 {
    margin-left: 33.33333%;
  }
  .offset-tablet-5 {
    margin-left: 41.66667%;
  }
  .offset-tablet-6 {
    margin-left: 50%;
  }
  .offset-tablet-7 {
    margin-left: 58.33333%;
  }
  .offset-tablet-8 {
    margin-left: 66.66667%;
  }
  .offset-tablet-9 {
    margin-left: 75%;
  }
  .offset-tablet-10 {
    margin-left: 83.33333%;
  }
  .offset-tablet-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 64em) {
  .col-desksm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-desksm-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-desksm-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-desksm-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-desksm-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-desksm-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-desksm-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-desksm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-desksm-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-desksm-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-desksm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-desksm-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-desksm-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-desksm-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-desksm-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-desksm-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-desksm-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-desksm-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-desksm-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-desksm-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-desksm-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-desksm-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-desksm-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-desksm-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-desksm-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-desksm-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-desksm-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-desksm-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-desksm-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-desksm-0 {
    margin-left: 0%;
  }
  .offset-desksm-1 {
    margin-left: 8.33333%;
  }
  .offset-desksm-2 {
    margin-left: 16.66667%;
  }
  .offset-desksm-3 {
    margin-left: 25%;
  }
  .offset-desksm-4 {
    margin-left: 33.33333%;
  }
  .offset-desksm-5 {
    margin-left: 41.66667%;
  }
  .offset-desksm-6 {
    margin-left: 50%;
  }
  .offset-desksm-7 {
    margin-left: 58.33333%;
  }
  .offset-desksm-8 {
    margin-left: 66.66667%;
  }
  .offset-desksm-9 {
    margin-left: 75%;
  }
  .offset-desksm-10 {
    margin-left: 83.33333%;
  }
  .offset-desksm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 80em) {
  .col-deskxl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-deskxl-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-deskxl-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-deskxl-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-deskxl-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-deskxl-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-deskxl-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-deskxl-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-deskxl-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-deskxl-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-deskxl-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-deskxl-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-deskxl-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-deskxl-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-deskxl-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-deskxl-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-deskxl-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-deskxl-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-deskxl-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-deskxl-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-deskxl-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-deskxl-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-deskxl-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-deskxl-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-deskxl-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-deskxl-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-deskxl-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-deskxl-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-deskxl-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-deskxl-0 {
    margin-left: 0%;
  }
  .offset-deskxl-1 {
    margin-left: 8.33333%;
  }
  .offset-deskxl-2 {
    margin-left: 16.66667%;
  }
  .offset-deskxl-3 {
    margin-left: 25%;
  }
  .offset-deskxl-4 {
    margin-left: 33.33333%;
  }
  .offset-deskxl-5 {
    margin-left: 41.66667%;
  }
  .offset-deskxl-6 {
    margin-left: 50%;
  }
  .offset-deskxl-7 {
    margin-left: 58.33333%;
  }
  .offset-deskxl-8 {
    margin-left: 66.66667%;
  }
  .offset-deskxl-9 {
    margin-left: 75%;
  }
  .offset-deskxl-10 {
    margin-left: 83.33333%;
  }
  .offset-deskxl-11 {
    margin-left: 91.66667%;
  }
}

[class^="row-gap"], [class*=" row-gap"] {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 0.625em;
  grid-row-gap: 0.625em;
}

@media (min-width: 22em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 1.875em;
    grid-row-gap: 1.875em;
  }
}

@media (min-width: 48em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
  }
}

@media (min-width: 64em) {
  [class^="row-gap"], [class*=" row-gap"] {
    grid-column-gap: 3.125em;
    grid-row-gap: 3.125em;
  }
}

.row-gap-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-gap-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.row-gap-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.row-gap-1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 48em) {
  .row-gap-tablet-4 {
    -ms-grid-columns: 1fr 1fr 1fr  1fr;
        grid-template-columns: 1fr 1fr 1fr  1fr;
  }
  .row-gap-tablet-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-tablet-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .row-gap-desksm-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row-gap-desksm-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-desksm-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 80em) {
  .row-gap-deskxl-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row-gap-deskxl-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-deskxl-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.container-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  .container-sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sidebar__main {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 2.5em;
  }
  .sidebar__aside {
    -ms-flex-preferred-size: 18.75em;
        flex-basis: 18.75em;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 80em) {
  .sidebar__main {
    margin-right: 5em;
  }
}

[class^="container"],
[class*=" container"] {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 64em) {
  [class^="container"],
  [class*=" container"] {
    max-width: 1100px;
  }
}

.container-mini {
  max-width: 850px;
  padding-bottom: 2.5em;
}

/* Tablet */
@media screen and (min-width: 651px) and (max-width: 1023px) {
  .container-mini {
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
}

/* Mobile */
@media screen and (max-width: 650px) {
  .container-mini {
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
}

.container-full-width {
  padding-left: 0;
  padding-right: 0;
}

/********** MODULES **********/
.mod-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5625em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Tablet */
@media screen and (min-width: 651px) and (max-width: 1023px) {
  .mod-header {
    padding: 1.5625em 1.25em;
  }
}

/* Mobile */
@media screen and (max-width: 650px) {
  .mod-header {
    padding-right: 1.25em;
    padding-left: 1.25em;
  }
}

.mod-menu a {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #7a7a7a;
  padding: 1.25em 0.4375em;
}

.mod-menu a:hover {
  color: #00b3db;
}

.com-menu {
  display: none;
}

/* Mobile */
@media screen and (max-width: 650px) {
  .mod-menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 99999;
    top: 90px;
    background-color: #fff;
    text-align: center;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mod-menu a {
    border-bottom: 1px solid #696969;
  }
  .mod-menu a:last-of-type {
    border: none;
  }
  .com-menu {
    display: block;
    font-size: 1.875rem;
    top: 5px;
    position: relative;
  }
}

/* Mobile */
.mod-footer {
  background-image: url("http://estudioequis.com.ar/landing-santa-barbara/img/footer.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  padding: 2.5em 0;
  height: 330px;
  position: relative;
}

.mod-footer h4 {
  font-size: 0.75em;
  margin-bottom: 0.9375em;
}

/* Tablet */
@media screen and (min-width: 651px) and (max-width: 1023px) {
  .mod-footer {
    padding: 0.625em 0;
    height: 249px;
    background-size: 140%;
  }
}

/* Mobile */
@media screen and (max-width: 650px) {
  .mod-footer {
    padding: 0.625em 0;
    height: 249px;
    background-size: 270%;
  }
}

.mod-social {
  position: absolute;
  bottom: 0.625em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mod-social i {
  color: #FFF;
  font-size: 1.75rem;
}

.mod-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1.25em 0;
}

.mod-social ul li {
  margin: 0 1.0625em;
}

.mod-social p {
  font-size: 0.75rem;
}

/********** COMPONENTS **********/
.mod-header .com-title {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333333;
  line-height: 2.9375rem;
}

.com-service .com-title,
.com-text .com-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.1875rem;
  line-height: 1.625rem;
  color: #696969;
  margin-bottom: 0.625em;
}

.com-text .com-title {
  color: #454545;
  margin: 0.9375em 0;
}

/* Mobile */
@media screen and (max-width: 650px) {
  .mod-header .com-title {
    font-size: 1.875rem;
  }
  .com-service .com-title,
  .com-text .com-title {
    margin-bottom: 0.3125em;
  }
}

.com-service a p:hover {
  color: #454545;
  text-decoration: underline;
}

.com-service img {
  width: 100%;
}

/* Mobile */
@media screen and (max-width: 650px) {
  .com-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2.5em;
  }
}

.com-banner {
  background-image: url("http://estudioequis.com.ar/landing-santa-barbara/img/banner.gif");
  background-repeat: no-repeat;
  background-position: center center;
  height: 63px;
  background-size: 100%;
}

.com-banner a {
  height: 63px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Tablet */
@media screen and (min-width: 651px) and (max-width: 1023px) {
  .com-banner {
    height: 61px;
    background-size: initial;
  }
  .com-banner a {
    height: 61px;
  }
}

/* Mobile */
@media screen and (max-width: 650px) {
  .com-banner {
    background-size: 270%;
  }
}

.com-gallery {
  margin: 2.5em auto;
}

.com-content {
  padding-bottom: 2.5em;
}

.com-image.--first {
  background-image: url("http://estudioequis.com.ar/landing-santa-barbara/img/principal-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.com-image.--second {
  background-image: url("http://estudioequis.com.ar/landing-santa-barbara/img/principal-2.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.com-image.--third {
  background-image: url("http://estudioequis.com.ar/landing-santa-barbara/img/principal-3.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 651px) and (max-width: 1023px) {
  .com-image.--first {
    border-right: 4px solid #FFF;
  }
}

/* Mobile */
@media screen and (max-width: 650px) {
  .com-image.--second {
    margin-top: 2.1875em;
  }
  .com-image.--third {
    height: 300px;
  }
}

.com-text {
  padding-left: 43px;
}

.com-text p {
  margin: 0.9375em 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #696969;
}

.com-text p strong {
  font-weight: bold;
}

@media screen and (min-width: 651px) and (max-width: 1023px) {
  .com-text {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.com-call-to-action {
  background-color: #4296b4;
  color: #FFF;
  padding: 4.375em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.5em;
}

.com-call-to-action blockquote {
  font-family: "Raleway", sans-serif;
  font-size: 1.1875rem;
  margin-bottom: 1.25em;
  text-align: center;
  max-width: 65%;
}

/* Mobile */
@media screen and (max-width: 650px) {
  .com-call-to-action {
    padding: 2.5em;
  }
  .com-call-to-action blockquote {
    max-width: 100%;
  }
}

.com-author {
  font-family: "Dosis", sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: uppercase;
  margin-bottom: 0.3125em;
}

.com-link {
  font-family: "Dosis", sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: uppercase;
  color: #FFF;
}

.com-link strong {
  font-weight: bold;
}

.com-link:hover {
  text-decoration: underline;
}

/* Mobile */
@media screen and (max-width: 650px) {
  .com-call-to-action .com-link {
    text-align: center;
  }
}

.com-logo {
  margin-bottom: 2.5em;
}
/*# sourceMappingURL=site.css.map */