//=======================================
// container CON ASIDE
//=======================================
.container-sidebar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}


@media ($media-l) {
    .container-sidebar {
        flex-direction: row;
    }
    .sidebar__main {
        flex-basis: 100%;
        margin-right: $px-40;
    }
    .sidebar__aside {
        flex-basis: $px-300;
        flex-shrink: 0;
    }
}

@media ($media-lg) {
    .sidebar__main {
        margin-right: $px-80;
    }
}

//=======================================
// container al 100%
//=======================================
[class^="container"],
[class*=" container"] {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


@media ($media-l) {
    [class^="container"],
    [class*=" container"] {
        max-width: 1100px;
    }
}

.container-mini {
    max-width: 850px;
    padding-bottom: $px-40;
}

/* Tablet */
@media screen and (min-width:651px) and (max-width:1023px) {
    .container-mini {
        padding-left:$px-20;
        padding-right:$px-20;
    }
}

/* Mobile */
@media screen and (max-width:650px) {
    .container-mini {
        padding-left:$px-20;
        padding-right:$px-20;
    }
}

//=======================================
// container al 100% sin paddings ni margins
//=======================================
.container-full-width {
    padding-left: 0;
    padding-right: 0;
}