.mod-menu {
    a {
        text-transform: uppercase;
        font-size: $font-14;
        font-weight: bold;
        font-family: $font-raleway;
        color: $secundario;
        padding: $px-20 $px-7;

        &:hover {
            color: $hover;
        }
    }
}


.com-menu {
    display: none;
}


/* Mobile */
@media screen and (max-width:650px) {
    .mod-menu {
        width: 100%;
        flex-direction: column;
        position: absolute;
        z-index: 99999;
        top: 90px;
        background-color: #fff;
        text-align: center;
        left: 0;
        display:flex;

        a {
            border-bottom: 1px solid $gris-medio;

            &:last-of-type {
                border: none;
            }
        }
    }

    .com-menu {
        display: block;
        font-size: $font-30;
        top: 5px;
        position: relative;
    }
}



/* Mobile */
@media screen and (max-width:650px) {}