.mod-footer {
    background-image: url('http://estudioequis.com.ar/landing-santa-barbara/img/footer.jpg'); 
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$blanco;
    padding:$px-40 0;
    height:330px;
    position:relative;

    h4 {
        font-size: $px-12;
        margin-bottom:$px-15;
    }
}

/* Tablet */
@media screen and (min-width:651px) and (max-width:1023px) {
 .mod-footer {
     padding:$px-10 0;
     height:249px;
     background-size:140%;
 }
}


/* Mobile */
@media screen and (max-width:650px) {
    .mod-footer {
        padding:$px-10 0;
        height:249px;
        background-size:270%;
    }
}