.com-link {
    font-family: $font-dosis;
    font-size: $font-14;
    line-height: $line-14;
    text-transform: uppercase;
    color: $blanco;

    strong {
        font-weight: bold;
    }


    &:hover {
        text-decoration: underline;
    }
}


/* Mobile */
@media screen and (max-width:650px) {
 .com-call-to-action .com-link {
     text-align: center;
 }
}