.com-service {
    a {
        p {
            &:hover {
                color: $gris-medio-2;
                text-decoration: underline;
            }
        }
        
    }

    img {
        width:100%;
    }
}

/* Mobile */
@media screen and (max-width:650px) {
    .com-service {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 $px-40;
    }
}